.nav {
  background-color: #3E5368 !important;
  box-shadow: none !important;
  padding-left: 0 !important;

}

.subnav {
  min-height: 0px !important;

}

.Left-menu-text {
  font-size: 12px !important;
}

.MenuIcon {
  font-size: 20px !important;

}

.logo-name {
  font-size: 25px !important;
  font-weight: 900 !important;
  margin-left: 0 !important;
}

.Icon-Dash {
  color: #3BA0CF;
}

.Left-Menu {
  background-color: #000022 !important;
  min-height: initial !important;
  padding-top: 0px !important;
}

.Menu-Icon {
  color: white !important;
}

.LogoName {
  font-size: 20px !important;
  color: white;
  font-weight: 900;
}

.ProName {
  color: blue;
  font-size: 18px !important;
  margin-right: 50px !important;
  padding-top: 5px;
}

.ParLeft {
  background-color: #2F3B47 !important;
  position: absolute;
  height: 100%;
  color: white;
}

.ic-activity {
  margin-left: 5px;
}

.ic-clone {
  margin-right: 5px;
}

.Icon-Cus {
  color: #FFB866;
}

.Icon-Con {
  color: #E69395;
}

.Icon-Start {
  color: #85A6CB;
}

.Icon-Seam {
  color: #9FB886;
}

.Icon-Box {
  color: #CCCCCC;
}

.Icon-Fill {
  color: #FFFF00;
}

.LogoName:hover {
  color: #000033;
}

.Par-main {
  width: 100%;
}

.Icon-New {
  box-shadow: none !important;
  width: 38px !important;
  height: 38px !important;
  margin-left: 20px !important;
  background-color: #1976D2 !important;
}

.Icon-Write {
  font-size: 20px !important;
}

.Header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0 !important;
  display: flex;
  width: 100% !important;
  box-shadow: rgb(140 152 164 / 13%) 0px 0.375rem 1.5rem 0px;
  border: 1px solid rgb(231, 234, 243);
  border-radius: 10px;

}

.Sub-Header {
  width: 100%;
}

.Cm-Bt {
  width: 5px !important;
  color: white !important;
  font-size: 25px !important;
  color: #1976D2 !important;
}

.Text-Call {
  margin-left: 40px !important;
  color: black !important;
  font-weight: 900 !important;
}

.Btn-acti {
  margin-left: 20px !important;
  background-color: #006D75 !important;
  color: white !important;
  font-size: 11px !important;
}

.Btn-add {
  margin-left: 20px !important;
  background-color: #006D75 !important;
  color: white !important;
  font-size: 11px !important;
  border-radius: 20px !important;
}

.IconMore {
  font-size: 12px;
  margin-left: 5px;
}

.IconAdd {
  font-size: 12px;
  margin-right: 5px;
}

.kimquynhtest {
  min-height: 500px !important;
  overflow: auto !important;
}

.Content {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Overflow-y {
  overflow-y: scroll;
}

.Box-Left {
  width: 100%;
  height: 100%;
  box-shadow: rgb(140 152 164 / 13%) 0px 0.375rem 1.5rem 0px;
  border: 1px solid rgb(231, 234, 243);
  border-radius: 5px;
}

.Box-Center {
  width: 100%;
  box-shadow: rgb(140 152 164 / 13%) 0px 0.375rem 1.5rem 0px;
  border: 1px solid rgb(231, 234, 243);
  border-radius: 5px;
}

.Box-Right {
  width: 100%;
  background-color: aqua;
  box-shadow: rgb(140 152 164 / 13%) 0px 0.375rem 1.5rem 0px;
  border: 1px solid rgb(231, 234, 243);
  border-radius: 4px;
}

.Left-Header {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 98%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 1%;
  border: 2px solid #006D75;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #6A6A6A;
}

.Tab-Hearder {
  margin-top: 5px;
}

.List-Item {
  width: 96%;
  margin-left: 2%;

}

.Time-Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Hr-border {
  opacity: 0 !important;
  background-color: transparent;
  border-top: 1px solid #ccc !important;
}

.Divider {
  height: 3px;
  background-color: #00A39A;
  width: 19%;
  border-radius: 20px;
}

.Divider-2 {
  height: 3px;
  background-color: #7CAE0D;
  width: 19%;
  border-radius: 20px;
}

.Divider-1 {
  height: 3px;
  background-color: #D7420B;
  width: 19%;
  border-radius: 20px;
}

.Timeline-text {
  font-size: 15px !important;
}

.Text-TimeLine {
  display: flex;
  justify-content: center;
  font-weight: 500 !important;
  font-size: 15px !important;
}

.Date-TimeLine {
  font-size: 15px !important;
}

.Timeline-icon {
  background-color: #17A2B8;
  box-shadow: rgb(140 152 164 / 13%) 0px 0.375rem 1.5rem 0px;
  border: 1px solid rgb(231, 234, 243);
  border-radius: 4px;
  padding: 5px 10px;
  color: white;
}

.imelineItem {
  font-size: 13px !important;
}

.List-TimeLine {
  width: 98%;
  margin-left: 1%;
}

.List-avatar {
  margin-top: 30px;
  display: flex;
  width: 100%;
}

.List-avatar-right {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: right;
}

.Par-List-Time {
  padding: 0 !important;
  margin-top: 17px;
}

.Item-Call {
  padding: 10px;
  display: flex;
  border-top: 1px solid rgb(231, 234, 243);
}

.Item-Firt {
  padding: 10px;
  display: flex;
}

.Item-white {
  padding: 10px;
  display: flex;
  border-top: 1px solid rgb(231, 234, 243);
}

.TabList {
  display: flex !important;
  justify-content: space-between !important;
}

.TabList-md {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.TabList-md-list {
  margin: auto !important;
}

.message {
  margin: auto;
  width: 96%;
  border-radius: 2px;
}

.message-icon-left {
  margin-top: 10px !important;
}

.message-icon-right {
  margin-top: 10px !important;
}

.message-item {
  margin-right: 20px !important;
  color: #515F76;
}

.message-send {
  color: #0033FF;
}

.List-message {
  margin: auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
}

.Par-message {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 9px;
  box-shadow: rgb(140 152 164 / 13%) 0px 0.375rem 1.5rem 0px;
  border: 1px solid rgb(231, 234, 243);
  border-radius: 3px;
}

/* #footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */
.His-message-List {
  width: 100%;
}

.His-message-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 9px;
  box-shadow: rgb(140 152 164 / 13%) 0px 0.375rem 1.5rem 0px;
  border: 1px solid rgb(231, 234, 243);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.Team-channel {
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgb(140 152 164 / 13%) 0px 0.375rem 1.5rem 0px;
  border: 1px solid rgb(231, 234, 243);
  border-radius: 15px;
  display: flex;

}

.Team-channel-text {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: left;

}

.Root {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.Team-channel-text-right {
  margin-right: 10px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: rgb(140 152 164 / 13%) 0px 0.375rem 1.5rem 0px;
  border: 1px solid rgb(231, 234, 243);
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  border-radius: 15px;
  display: flex;
  justify-content: right;
  background-color: #E6F7FF;
}

.His-message-text {
  font-size: 14px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.His-message-text-right {

  font-size: 14px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  text-align: right !important;
}

.His-message-list {
  margin-left: 10px !important;
}

.Team-channel-name {
  margin-left: 10px !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}

.Team-channel-name-right {
  text-align: right;
  margin-right: 20px !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}

.Team-channel-time {
  margin-left: 10px !important;
  font-size: 14px !important;
}

.Team-channel-time-right {
  margin-right: 20px !important;
  margin-left: 10px !important;
  font-size: 14px !important;
  text-align: right;
}

.Channel-name-file {
  margin-left: 10px !important;
  font-size: 12px !important;
}

.Team-list-file {
  display: flex;
  justify-content: space-between;
}

.Team-list-file-right {
  display: flex;
  justify-content: space-between;
  margin-right: 10px !important;
}

.Channel-name-down {
  margin-left: 10px !important;
  margin: auto;
}

.Channel-name-down-right {
  margin-right: 10px !important;
  margin: auto;
}

.Team-name-file {
  display: flex;
  justify-content: space-between;
}

.Team-channel-img {
  border-radius: 5px;
  margin: 1px 6px;
}

.His-message-time {
  font-size: 14px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  color: #808080;
}

.His-message-write {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.His-message-write {
  margin-right: 10px !important;
  margin-left: 10px !important;
  color: #0033FF;
}

.His-file-text {
  margin-left: 10px !important;
  color: #0033FF;
  font-size: 14px !important;
}

.His-message-close {
  margin-right: 10px !important;
  margin-left: 10px !important;
  color: red;
}

.His-message-file {
  margin-top: 3px !important;
  margin-left: 10px !important;
  color: #0033FF !important;
}

.His-avtar {
  border-radius: 50px;
  border: 1px solid rgb(231, 234, 243);
  margin-right: 3px !important;
}

.His-avta-item {
  border-radius: 50px;
}

.His-message-2 {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 9px;
  box-shadow: rgb(140 152 164 / 13%) 0px 0.375rem 1.5rem 0px;
  border: 1px solid rgb(231, 234, 243);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: hidden;
}

.His-message-item {
  display: flex;
}


.His-message-item-1 {
  display: flex;
}

.His-clock {
  font-size: 16px !important;
  color: #808080;
}

.message-field label {
  font-size: 13px !important;
}

.TabList-Item {
  width: 33%;
  text-transform: capitalize !important;
}

.TabList-More {
  width: 50%;
  text-transform: capitalize !important;
}

.IconImgae {
  font-size: 20px;
  margin-right: 15px;
  color: #006D75;
  margin: auto;

}

.Summary-icon {
  display: flex;
  justify-content: center;
  margin-right: 15px !important;
}

.Item-Title {
  font-size: 13px !important;
  font-weight: 500 !important;
}

.Item-des {
  font-size: 11px !important;
  color: #696969;
}

.Tab-Hearder span {
  color: #006D75 !important;
}

.Par-Card {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}

.Popup-form {
  width: 100%;
}

.Item-Right {
  float: right;
  margin-right: 0 !important;
}

.Form-title {
  font-size: 14px !important;
  color: #696969;
}

.Form-editor {
  margin-top: 10px !important;
  margin-left: 10px !important;
  font-size: 14px !important;
}

.Form-title-1 {
  margin-bottom: 10px !important;
  font-size: 14px !important;
  color: #696969;
}

.Radio-text {
  font-size: 15px !important;
  color: #696969;
  margin: auto !important;
  margin-left: 0 !important;

}

.Radio-list {
  display: flex;
}
.css-ahj2mt-MuiTypography-root{
  font-size: 15px !important;
  color: #696969;
}
.css-1wc848c-MuiFormHelperText-root{
  margin-left: unset !important;
}
.Form-list-radio {
  display: flex !important;
  justify-content: left;
}

.Form-radio {
  font-size: 10px !important;
}

/* .Item-Left{
  margin-left: 22px !important;
} */
.Sub-Content {
  width: 100%;
  margin-left: 0 !important;
}

.Assign-avatar {
  width: 25px !important;
  height: 25px !important;
  margin: auto !important;
}

.Direction {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.PlayCall {
  background-color: #F0F0F0;
  border-radius: 35px;
  margin-bottom: 10px;
  width: 90%;
  display: flex !important;
  justify-content: center !important;
  margin: auto;
}

.Direction-Item {
  font-size: 15px !important;
  margin-left: 10px !important;
  margin-right: 40px !important;
}

.btn-play {
  padding: 0 !important;
}

.Scroll {
  position: "relative";
  width: 100%;
  margin: auto;
  overflow: "hidden";
}

.Wrap {
  display: flex;
  width: 100%;
  overflow: auto;
}

.Bar-Item {
  background-color: #C1C3C3;
  width: 150px;
  height: 4px;
  border-radius: 5px;
  padding: 0 !important;

}

.value-s {
  margin-right: 25px !important;
}

.History {
  display: flex;
  justify-content: center;
  margin: auto;
}

.History-Update {
  background-color: #7CAE0D;
  width: 12px;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.Par-List {
  margin-top: 20px;
}

.List-TimeLine-Item {
  width: 15px;
}

.History-1 {
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.History-Note {
  background-color: #00A39A;
  width: 12px;
  height: 100px;
}

.History-File {
  background-color: #D7420B;
  width: 12px;
  height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.History-Item {
  border: 1px solid #00A39A;
  display: block;
}

.Divider-History {
  height: 2px;
  background-color: #7CAE0D;
  width: 20px;
  position: absolute;
  top: 50px;
  margin-right: 60px !important;
}

.Divider-History-3 {
  height: 2px;
  background-color: #7CAE0D;
  width: 20px;
  position: absolute;
  top: 50px;
  margin-left: 60px !important;
}

.Divider-History-4 {
  height: 2px;
  background-color: #00A39A;
  width: 20px;
  position: absolute;
  top: 150px;
  margin-right: 60px !important;
}

.Icon-Update {
  background-color: #7CAE0D;
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
  position: absolute;
  top: 30px;
  margin-right: 130px !important;
  display: flex;
  justify-content: center;
}

.List-Card {
  width: 80%;
  justify-content: center !important;
}

.Text-Update {
  width: 230px !important;
  position: absolute;
  top: 15px;
  border-radius: 20px;
  margin-right: -320px !important;
  background-color: #7CAE0D;
}

.Text-Update-Item {
  font-size: 14px !important;
  width: 100% !important;
  margin: 10px !important;
  color: white !important;
}

.Icon-Update-item {
  margin: auto !important;
  color: white !important;
}

.Text-Note {
  width: 230px !important;
  position: absolute;
  top: 120px;
  border-radius: 20px;
  margin-left: -320px !important;
  background-color: #00A39A;
}

.Divider-History-1 {
  height: 2px;
  background-color: #9E9E9E;
  width: 20px;
  position: absolute;
  top: 150px;
  margin-left: 60px !important;
}

.Icon-Note {
  background-color: #00A39A;
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
  position: absolute;
  top: 130px;
  margin-left: 130px !important;
  display: flex;
  justify-content: center;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: none !important;
}

.Divider-History-2 {
  height: 2px;
  background-color: #D7420B;
  width: 20px;
  position: absolute;
  top: 250px;
  margin-right: 60px !important;
}

.Divider-History-5 {
  height: 2px;
  background-color: #D7420B;
  width: 20px;
  position: absolute;
  top: 250px;
  margin-left: 60px !important;
}

.FaUser-icon {
  font-size: 15px !important;
}

.Icon-File {
  background-color: #D7420B;
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
  position: absolute;
  top: 230px;
  margin-right: 130px !important;
  display: flex;
  justify-content: center;
}

.Text-File {
  width: 230px !important;
  position: absolute;
  top: 220px;
  border-radius: 20px;
  margin-right: -320px !important;
  background-color: #D7420B;
}

.List-customer {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.List-assigned {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 3px 0px;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  background-color: #FFC107;
}

.enter-customer {
  margin-top: 10px;
  padding: 0 4px;
  display: flex;
  border: 1px solid rgb(231, 234, 243);
}

.form-ip-date {
  margin-top: 10px;
  padding: 0 4px;
  display: flex;
  width: 700px;
  border: 1px solid rgb(231, 234, 243);
  box-shadow: none !important;
  border-left: 5px solid #1976D2;
}

.form-ip-priority {
  padding: 0 4px;
  display: flex;
  width: 700px;

}

.css-1hbvpl3-MuiSvgIcon-root {
  font-size: 19px !important;
}

.css-11zohuh-MuiSvgIcon-root {
  font-size: 19px !important;
}

fieldset {
  border: 1px solid rgb(231, 234, 243) !important;
  border-left: 5px solid #1976D2 !important;
}

#outlined-select-currency {
  padding: 10px !important;
  font-size: 14px !important;
  color: #696969;
}

#outlined-select-currency-1 {
  padding: 2px 10px !important;
  font-size: 14px !important;
  color: #696969;
}

.Call-button {
  display: flex !important;
  justify-content: center !important;
}

.call-cancel {
  background-color: red !important;
  color: white !important;
  font-size: 12px !important;
  margin-right: 10px !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  color: white !important;
  font-size: 12px !important;
}

.css-1ps6pg7-MuiPaper-root {
  box-shadow: none !important;
}

.call-save {
  background-color: #1976D2 !important;
  color: white !important;
  font-size: 12px !important;
}

.Assign-list {
  display: flex !important;
  justify-content: space-between;
}

.Assign-icon {
  font-size: 15px !important;
}

.Assign-item {
  display: flex !important;
}

.Assign-name {
  font-size: 14px !important;
  margin: auto !important;
  margin-left: 10px !important;
}

.form-priority-list {
  border-radius: 4px;
}

.icon-user-cus {
  padding: 8px;
  font-size: 18px !important;
}

.Common-form {
  margin: 15px 0 !important;
}

.form-icon-date {
  padding: 8px;
  font-size: 18px !important;
}

.Form-create {
  padding: 0 20px !important;
  font-size: 13px !important;
}

.input-customer {
  margin-left: 1px;
  flex: 1;
  font-size: 14px !important;
}

.input-date {
  margin-left: 1px;
  flex: 1;
  font-size: 14px !important;
}

.input-date-1 {
  padding: 5px 0 !important;
  margin-left: 1px;
  flex: 1;
  font-size: 14px !important;
}

.Divider-customer {
  /* sx={{ height: 28, m: 0.5 }} */

  margin-top: 8px !important;
  background-color: #000022;
}

.Divider-ip-date {
  margin-top: 8px !important;
  background-color: #000022;
}

.customer-avatar {
  display: flex;
}

.customer-icon {
  margin: auto;
  margin-right: 0;
}

.Customer-name {
  margin: auto !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.product-name {
  margin: auto !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #0033FF;
}

.Title-customer {
  font-size: 14px !important;
  font-weight: 700 !important;
}

.icon-cus-mail {
  color: #3FD8D8;
  margin-right: 10px;
}

.icon-cus-sms {
  color: #003300;
  margin-right: 8px;
}

.icon-cus-close {
  color: red;
}

.Position-Channel {
  position: relative;
}

.Size-ava {
  width: 35px !important;
  height: 35px !important;
}
.icon-menuicon-mobi{
  display: none !important;
}
.Sub-Header-Mobi {
  display: none !important;
}
.Item-Left-mobi{
  width: 33% !important;
  margin: auto !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
.His-call{
  display: flex !important;
  margin: 30px 0 10px 0 !important;
  box-shadow: none !important;
  width: 100% !important;
}
.css-hyum1k-MuiToolbar-root{
  min-height: 50px!important 
}
.Divider-call{
  background-color: #000022;
}
.css-1ebprri{
  margin-top: unset !important;
}
.Create-AppBar{
  box-shadow:none !important;
  top: unset !important;
  right: unset !important;
  width: 40% !important;
  background-color: white !important;
  color: black !important;
  border-radius: 4px !important;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8392A5;
}

@media only screen and (max-width: 1023px) {
  .icon-menuicon-mobi{
    display: block !important;
  }
  .icon-menuicon-web{
    display: none !important;
  }
  .Sub-Header {
    display: none !important;
  }

  .Sub-Header-Mobi {
    display: flex !important;
    justify-content: space-between !important;
    margin: auto !important;
    width: 100%;
  }

  .Text-Call {
    margin: auto !important;
  }

  .Header {
    display: flex !important;
    justify-content: space-between !important;
  }

  .Left-Menu-List {
    display: none;
  }
  
}